
body, html {
    background-color: #f4f4f9; /* 选择的背景颜色 */
    margin: 0;
    padding: 0;
    height: 100%; /* 确保全屏高度 */
}

.button-container {
    display: flex;  /* 启用flex布局 */
    justify-content: center;  /* 水平居中 */
    gap: 10px;  /* 按钮之间的间隔 */
}


/* 问题标题样式 */
h3 {
    color: #2a2a72;
    padding: 10px 15px;
    margin: 0;
    border-bottom: 1px solid #eee;
}

.question-header {
    display: flex;
    align-items: center; /* 垂直居中对齐复选框和标题 */
    padding: 10px 15px; /* 提供一些内部空间 */
}

/* 列表样式 */
ul {
    list-style-type: none;
    margin: 0 auto; /* 居中显示 */
    padding: 0;
    max-width: 800px; /* 限制最大宽度 */
}

/* 标题样式 */
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px; /* 增加标题与列表间的间隔 */
}

.score-input {
    width: 60px;  /* 设置输入框宽度 */
    padding: 5px 10px;  /* 内边距 */
    border: 1px solid #ddd;  /* 边框 */
    border-radius: 4px;  /* 边框圆角 */
    margin-left: auto;  /* 左边自动间距，推到最右边 */
    outline: none;  /* 去除聚焦时的边框 */
}

.score-input:focus {
    border-color: #42a5f5;  /* 聚焦时的边框颜色 */
}

